<div style="margin:50px;">
    <div class="alert alert-info"><b>Angular 7 HTTP GET Data Using HTTP</b></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees">
                    <td>{{emp.employee_name}}</td>
                    <td>{{emp.employee_salary}}</td>
                    <td>{{emp.employee_age}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>